.navbar-logo {
  width: 300px;
  height: auto
}

.nav-link:hover {
  color: #fa9076;
}

.custom-blue {
  background-color: #001489;
}

.custom-serach-social-links {
  display: grid;
  grid-template-rows: 50% 50%;
  place-items: center;

}

.custom-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.custom-circle-search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background-color: #fa9076;
}

.custom-circle-search i {
  font-size: 1em;
  color: white;
}

.custom-vertical-line{
  display:flex;
  margin-top: 2em;
  height: 3em;
}

.chevron {
  display: none;
}

.navbar-toggler {
  border: none;
  outline: none;
}

/* Popper element Styles  */
.custom-tooltip {
  background: white;
  color: black;
  border-radius: 10px;
  max-width: 100vw;
  margin-left: 5vw;
  margin-top: 0.5vw;
  visibility: hidden;

  &[data-show="true"] {
    visibility: visible;
  }

  .custom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90vw;
  }

  .custom-grid img {
    width: 100%;
    /* Make the image width 100% of the parent container */
    height: 70%;
    /* Maintain the aspect ratio */
    max-height: 200px;
    /* Set a maximum height to avoid very tall images */
    object-fit: scale-down;
    /* Preserve aspect ratio and cover the entire container */
  }

  .arrow,
  .arrow::before {
    position: absolute;
    width: 25px;
    height: 25px;
    background: inherit;
    transition: top 0.3s ease-in, bottom 0.3s ease-in, left 0.3s ease-in,
      right 0.3s ease-in;
    visibility: hidden;
    background-color: white;
    margin-left: -2.5vw;
  }

  .arrow::before {
    visibility: hidden;
    content: "";
    transform: rotate(45deg);
  }

  &[data-popper-placement^="bottom"]>.arrow {
    top: -12px;
  }

  .arrow[data-hide="true"]::before {
    visibility: hidden !important;
  }

  &[data-show]>.arrow::before {
    visibility: visible;
  }
}

/* CSS for small screen resolution */
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    text-align: left;
    /* Align individual nav-items to the left */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
  }

  .nav-link {
    display: inline-flex;
    justify-content: flex-start;
    /* margin-right: auto; */
    flex-wrap: wrap;

    h4 {
      padding-left: 15px;
      flex-wrap: wrap;
    }
  }

  .custom-social-links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .custom-tooltip {
    visibility: hidden !important;
  }

  .custom-tooltip .arrow {
    visibility: hidden !important;
  }

  .custom-vertical-line {
    display: none ; 
  }

  .chevron{
    display: block;
    margin-left: auto;
  }

  .arrow {
    display: none; 
  }
}